version: "3.9"
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - backend/.env
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    networks:
      - app
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - VITE_API_BASE_URL=http://localhost:5000/api/v1
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app
networks:
  app:
    driver: bridge
volumes:
  mongo_data:

